/* Home Page */
img#first-home{
    display: block;
    width: 90%;
    margin: 0 auto;
}

/* Housing */

/* Job Search */

/* Transportation */

/* Meal Planning -- Most will be in it's own css file*/
img#cooking-image{
    display: block;
    width: 90%;
    margin: 0 auto;
    filter: contrast(0.8) saturate(0.8);
}
/* Budgeting */