/* Home Page */
img#first-home{
    display: block;
    width: 90%;
    margin: 0 auto;
}

/* Housing */
img#housing{
    display: block;
    width: 90%;
    margin: 0 auto;
}
/* Mental Health */
img#mental-health{
    display: block;
    width: 90%;
    margin: 0 auto;
}
/* Transportation */
img#transportation, img#tools{
    display: block;
    width: 90%;
    margin: 0 auto;
}
/* Meal Planning -- Most will be in it's own css file*/
img#cooking-image{
    display: block;
    width: 90%;
    margin: 0 auto;
    filter: contrast(0.8) saturate(0.8);
}
/* Budgeting */
img#coins{
    display: block;
    width: 90%;
    margin: 0 auto;
}