/* 
Main.css will handle site-wide formatting including fonts, background colors, standard widths, and setting up the grid(maybe)
*/
/* Variables */
:root{
    --primary-color: #457984;
    --secondary-color: #7BCBDF;
    --bonus-sections: #64848B;
    --highlight-mint: #CFFFCF;
    --highlight-lemon-lime: #EDFF90;
    --highlight-orange: #FFC776;
    --links: #048B79;
    --light-gray: #EDF2F4;
    --shadows: #444546;
}

/* Universal Resets */
*{
    font-size: 100%;
    font-weight: normal;
    font-style: normal;
    font-family: 'Verdana', sans-serif;
    text-decoration: none;

    margin: 0;
    padding: 0;
}
i{
    font-style: oblique;
}
b{
    font-weight: bold;
}
/* Sticky */
nav.sticky{
    position: sticky;
    z-index: 1;
    top: 0;
}
@media only screen and (min-width: 901px){
    /* Only sticks to the top of the screen when the mobile menu is not active */
    aside div.sticky{
        position: sticky;
        top: 5em;
    }
}
/* Fonts */
h1, h2, h3, h4{
    font-family: 'Century Gothic', sans-serif;
}
h1{
    /* Only used for page titles */
    font-size: 220%;
    font-weight: bold;
}

h2{
    /* Used for page section titles */
    font-size: 170%;
    font-weight: bold;
    margin-bottom: 1em;
    /* margin-left: 1em; */

}

h3{
    /* Used for subheadings within the articles */
    font-size: 160%;
    font-weight: normal;
    /* margin-left: 1em; */
    margin-top: 1em;
    margin-bottom: 1em;
}

h4{
    /* I don't even know what I would use this for, but it sure is here if I need it */
    font-size: 140%;
    font-weight: normal;
    /* margin-left: 3em; */
}

figcaption{
    font-size: 80%;
    text-align: center;
    margin-top: 0;
}
a.in-text-link{
    font-weight: bold;
    color: var(--links);
    transition: color 0.1s;
}
a.in-text-link:hover, a.in-text-link:focus{
    text-decoration: underline dotted;
    color: #0fb986;
}
p.credits{
    font-size: 80%;
    color: #dba65b;
    font-style: oblique;
    margin-bottom: 2em;
}
html{
    height: 100%;
}
/* Body */
body{
    display: flex;
    width: 100%;
    flex-direction: column;
    box-shadow: 0 2px 4px var(--shadows);
    min-height: 100vh;
    background: var(--primary-color);
}
/* Main */
main{
    display: grid;
    flex: 1;
    grid-template:  1fr / 5fr 2fr; /*1 row, 2 columns*/
    background-color: white;
}
/* Section */
section{
    grid-row: 1;
    grid-column: 1;
    border-right: 3px solid var(--light-gray);
    box-shadow: 2px 1px 4px var(--shadows);
    padding-top: 2em;
    padding-bottom: 0.5em;
    /* padding: 2rem 2rem 0.5rem 5rem; */
    div.article, div#recipe-list{
        margin-left: 5rem;
        margin-right: 2rem;
    }
    
}
section div.article p{
    display: block;
    margin-bottom: 1.5em;
    margin-left: 1em;

    line-height: 1.5em;
}
section div.article h1{
    margin-top: 1em;
}
section div.article ul{
    margin-left: 2em;
    li{
        font-weight: bold;
        font-style: oblique;
        font-size: 90%;
        margin-top: 0.5em;
        color: var(--primary-color);
    }
    margin-bottom: 1em;
}

section div.helpful-hint{
    display: block;
    background-color: var(--bonus-sections);
    border: 4px solid var(--primary-color);
    border-radius: 15px;
    padding: 0.25rem 2rem;
    width: 80%;
    margin: auto;
    margin-bottom: 2rem;
    h4{
        color: var(--highlight-lemon-lime);
        font-weight: bold;
    }
    p{
        margin-top: 0.75em;
        margin-bottom: 0.75em;
        margin-left: 3rem;
        color: var(--light-gray);
        font-weight: bold;
        font-size: 80%;
    }
}
/* Aside */
aside{
    grid-row: 1;
    grid-column: 2;
    
    background-color: var(--light-gray);
    padding: 2em 1em 1em 1em;
}

aside h3{
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1em;
    border-bottom: 1px solid black;
    font-size: 180%;
    text-align: center;
}

aside ul{
    display: block;
    width: 80%;
    margin: 0 auto;
}

aside ul li{
    list-style: circle;
    margin-bottom: 2em;
}
aside ul li p{
    font-size: 90%;
}

/*Hide media menu initially*/
#mobile_menu{
    display: none;
    
}

/* Media Queries */
@media only screen and (max-width: 1230px){
    main{
        grid-template:  1fr / 3fr 1fr;
    }
    aside h3{
        font-size: 140%;
    }
    aside ul li{
        font-size: 75%;
        margin-bottom: 1em;
    }
}
@media only screen and (max-width: 900px){ /*Flip to Mobile View*/
    #mobile_menu{
        display: block;
    }
    #nav_menu{
        display: none;
    }
    main{
        display: flex;
        flex-direction: column-reverse;
        aside{
            display: block;
            box-shadow: 2px 1px 8px var(--shadows);
            ul li{
                margin-bottom: 1.5em;
            }
        }
        section{
            display: block;
            /* padding: 2em; */
            div.article, div#recipe-list{
                margin-left: 2rem;
            }
            h1, h2, h3, h4{
                text-align: center;
            }
            h1{
                font-size: 180%;
                margin-bottom: 1rem;
            }
            div.helpful-hint{
                width: 80vw;
                padding: 0.25rem 0.75rem;
                margin-bottom: 2rem;
                p{
                    text-align: justify;
                    margin-left: 0;
                }
            }
        }
    }
}
@media only screen and (max-width: 643px){
    main section{
        img#first-home{
            width: 90vw;
        }
    }
}