/* Selector and Clear Filter Button*/
select#filter-options, select#sort-options, button#reset{
    display: block;
    appearance: none;
    width: 10rem;

    border: 1px solid #EDF2F4;
    border-radius: 5px;
    background-color: #EDF2F4;

    text-align: center;
    /* color: #EDF2F4; */
    /* font-weight: bold; */
    font-style: oblique;
    
    padding: 0.5em 1em;
    margin-bottom: 0.5rem;
}
button#reset{
    font-size: 70%;
}
select#filter-options:hover, select#filter-options:focus, button#reset:hover, button#reset:focus, select#sort-options:hover, select#sort-options:focus{
    border-color: #708D94;
}
/* Options */
option{
    width: 50em;
    font-size: 80%;
    background-color: #EDF2F4;
    text-align: left;
    color: #4e4e4e;
}
option.seperator{
    color: black;
    font-weight: bold;
}
/* Divs */
div#recipe-list{
    display: grid;
    grid-template: 1fr / 1fr 6fr;
    h2{
        margin-bottom: 0.5em;
    }
}
div#controls{
    display: grid;
    grid-column: 1;
    grid-template: 1fr 7fr/ 1fr ;
}
div#recipe-display{
    grid-column: 2;
}
div#buttons{
    display: block;
    grid-row: 1;
    width: 6rem;
}
div#filters{
    grid-row: 2;
}
/* Filters */
button.filter-button, button#sort-button{
    padding: 0.5em;
    margin-right: 0.5rem;
    margin-bottom: 0.25rem;
    width: 10rem;
    /* Color */
    background-color: #FFC776;
    border-radius: 5px;
    border: 0px;
    /* Text */
    
    font-size: 90%;
}

button.filter-button:hover, button.filter-button:focus{
    text-decoration: line-through;
    font-style: oblique;
    opacity: 75%;
}

button.filter-button i{
    display: inline-block;
    font-size: 70%;
    padding-right: 0.5em;
}
/* Sort Button */
button#sort-button{
    /* Color */
    background-color: #CFFFCF;
    font-weight: bold;
    font-size: 80%;

}
/* Recipe Displays */
div.recipe{
    display: grid;
    grid-template: 1fr / 1fr 5fr;
    width: 90%;
    margin: 1rem 2rem;
    padding: 1rem;
    /* Color */
    background-color: #FFF;
    box-shadow: 1px 1px 4px #444546;
    transition: transform, grid-template, 0.25s;
    p{
        transition: all, 0.25s;
        font-size: 90%;
    };
    h4{
        transition: all, 0.25s;
        font-size: 140%;
    }
    ul li{
        transition: all, 0.25s;
        font-size: 70%;
    }
}
div.recipe:hover, div.recipe:focus{
    transform: scale(1.05);
    grid-template: 1fr / 1fr 3fr;
    p{
        font-size: 100%;
    };
    h4{
        font-size: 200%;
    }
    ul li{
        font-size: 80%;
    }
}
div.recipe img{
    grid-column: 1;
    display: block;
    width: 100%;
    /* border: 2px solid #EDF2F4; */
    box-shadow: 1px 1px 3px #444546;
}
div.recipe div.recipe-details{
    grid-column: 2;
    margin-left: 1em;
}
div.recipe div.recipe-details ul{
    list-style: none;
}
div.recipe div.recipe-details ul li{
    display: inline-block;
    padding: 0.25em 0.5em;
    margin-right: 0.5em;
    /* Color */
    background-color: #FFC776;
    border-radius: 5px;
    border: 0px;
    /* Text */
    font-family: 'Century Gothic', sans-serif;
    
}
div.recipe div.recipe-details ul li.recipe-info{
    background-color: #7BCBDF;
}
div.recipe div.recipe-details p{
    margin-top: 1em;
}