/* Article */
img.food-pics{
    display: block;
    float: right;
    clear: right;
}
/* -- Price Calc -- */

div#fast-food-price-calc{
    background-color: #64848b;
    border-right: 3px solid #64848b;
    margin-left: -5rem;
    margin-right: -2.25rem;
    margin-bottom: 1rem;

    padding: 0.5rem 3rem;
    
    p{
        margin-bottom: 0.5em;
    }
    p, label, h4{
        color: #EDF2F4;
    }
    h4{
        font-weight: bold;
        /* font-style: oblique; */
        color: #EDFF90;
        margin-bottom: 0.25rem;
        border-bottom: 1px solid #EDF2F4;
    }
    
    div#cost-controls{
        display: flex;
        flex-direction: row;
        padding-top: 1rem;
        border-top: 1px solid #EDF2F4;
        div.inputs{
            display: inline-block;
            vertical-align: bottom;
            width: 15rem;

            label{
                display: inline-block;
                width: 9rem;
            }
            input{
                display: inline-block;
                padding-right: 1rem;
                text-align: right;
                margin-bottom: 0.5rem;
                width: 4rem;
        
                background-color: #EDF2F4;
                border: 0;
                border-radius: 5px;
                
            }
        }
        #results{
            display: inline-block;
            vertical-align: bottom;
            width: 70%;
            margin-left: 2rem;
            p{
                display: inline-block;
                font-size: 150%;
                margin-left: 1rem;
                margin-bottom: 0;
            }
        }
    }
    p#error-message{
        display: block;
        color: #EDFF90;
        font-style: oblique;
        font-size: 80%;
        margin: 0;
    }
    
    
}

/* -- Recipes -- */
/* Selector and Clear Filter Button*/
select#filter-options, select#sort-options, button#reset, input#search{
    appearance: none;

    border: 1px solid #EDF2F4;
    border-radius: 5px;
    background-color: #EDF2F4;

    text-align: center;
    /* color: #EDF2F4; */
    /* font-weight: bold; */
    font-style: oblique;
    
    padding: 0.5rem 0.5vw;
    margin-bottom: 0.5rem;
}
select#filter-options, select#sort-options, button#reset{
    display: inline-block;
    width: 6vw;
}
input#search{
    display: block;
    width: 100%;
    padding: 0.25em 0;
    font-size: 90%;
}

button#reset{
    display: block;
    width: 12vw;
}
select#filter-options:hover, select#filter-options:focus, button#reset:hover, button#reset:focus, select#sort-options:hover, select#sort-options:focus{
    border-color: #708D94;
}
/* Options */
option{
    width: 50em;
    font-size: 80%;
    background-color: #EDF2F4;
    text-align: left;
    color: #4e4e4e;
}
option.seperator{
    color: black;
    font-weight: bold;
}
/* Divs */
div#recipe-list{
    /* display: grid;
    grid-template: 1fr / 1fr 6fr; */
    h2{
        margin-bottom: 0.5em;
    }
}
div#controls{
    display: grid;
    /* height: 60vh; */
    /* grid-column: 1; */
    grid-template: 1fr/ 13vw 7fr;
}
div#buttons{
    /* display: block; */
    grid-column: 1;
    width: 100%;
}
div#filters{
    grid-column: 2;
    border: 1px solid #EDF2F4;
    border-radius: 5px;
    padding: 0.25em;
}
/* Filters */
button.filter-button, button#sort-button{
    padding: 0.5em;
    margin-right: 0.5rem;
    margin-bottom: 0.25rem;
    /* width: 5vw; */
    /* Color */
    background-color: #FFC776;
    border-radius: 5px;
    border: 0px;
    /* Text */
    
    font-size: 90%;
}

button.filter-button:hover, button.filter-button:focus{
    text-decoration: line-through;
    font-style: oblique;
    opacity: 75%;
}

button#sort-button:hover, button#sort-button:focus{
    font-style: oblique;
    opacity: 75%;
}

button.filter-button i{
    display: inline-block;
    font-size: 70%;
    padding-right: 0.5em;
}
button#sort-button{
    /* Color */
    background-color: #CFFFCF;
    font-weight: bold;
    /* font-size: 70%; */

}

/* Recipe Displays */
div.recipe{
    display: grid;
    grid-template: 1fr / 1fr 5fr;
    width: 95%;
    margin: 1rem;
    padding: 1rem;
    /* Color */
    background-color: #FFF;
    box-shadow: 1px 1px 4px #444546;
    transition: transform, grid-template, 0.25s;
    p{
        transition: all, 0.25s;
        font-size: 90%;
    };
    h4{
        transition: all, 0.25s;
        font-size: 140%;
        display: block;
        width: 90%;
        border-bottom: 2px solid #EDF2F4;
        margin-bottom: 0.25em;
    }
    ul li{
        transition: all, 0.25s;
        font-size: 70%;
    }
}
div.recipe:hover, div.recipe:focus{
    transform: scale(1.05);
    grid-template: 1fr / 1fr 3fr;
    p{
        font-size: 90%;
    };
    h4{
        font-size: 200%;
    }
    ul li{
        font-size: 100%;
        margin-bottom: 0.1em;
    }
}
div.recipe img{
    grid-column: 1;
    display: block;
    width: 100%;
    /* border: 2px solid #EDF2F4; */
    box-shadow: 1px 1px 3px #444546;
    filter: saturate(1.05);
}
div.recipe div.recipe-details{
    grid-column: 2;
    margin-left: 1em;
}
div.recipe div.recipe-details ul{
    list-style: none;
}
div.recipe div.recipe-details ul li{
    display: inline-block;
    padding: 0.25em 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    /* Color */
    background-color: #FFC776;
    border-radius: 5px;
    border: 0px;
    /* Text */
    font-family: 'Century Gothic', sans-serif;
    
}
div.recipe div.recipe-details ul li.recipe-info{
    background-color: #7BCBDF;
}
div.recipe div.recipe-details p{
    margin-top: 1em;
    white-space: pre-line;
}

/* Media Queries */
@media only screen and (max-width: 1230px){
    div.recipe p{
        font-size: 80%;
    }
}
@media only screen and (max-width: 900px){
    div#fast-food-price-calc{
        margin-left: -2rem;
        margin-right: -2.25rem;
        padding: 0.5rem 1rem;
        h4{
            font-size: 130%;
        }
        p{
            font-size: 90%;
        }
    }    
}
@media only screen and (max-width: 850px){
    div.recipe{
        width: 80vw;
        grid-template: 1fr / 1fr 3fr;
        margin: 1em auto;
    }
}
@media only screen and (max-width: 715px){ /*Flip to Mobile View*/
    div#recipe-display{
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap;
    }
    select#filter-options, select#sort-options{
        display: block;
        width: 12vw;
    }
    div.recipe{
        width: 45%;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        /* margin: 1em auto; */
        img{
            width: 80%;
            margin: 0.5rem auto;
        }
        h4{
            text-align: center;
        }
    }
    div.recipe:hover, div.recipe:focus{
        transform: scale(1.05);
        grid-template: 1fr / 1fr 3fr;
        p{
            /* font-size: 90%; */
        };
        h4{
            font-size: 160%;
        }
        ul li{
            font-size: 100%;
            margin-bottom: 0.1em;
        }
    }
}
@media only screen and (max-width: 575px){
    div#recipe-display{
        flex-wrap: nowrap;
        flex-direction: column;
    }
    div.recipe{
        width: 70vw;
        div.recipe-details{
            ul li{
                font-size: 90%;
            }
            p{
                font-size: 90%;
            }
        } 
    }
}